{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock title %}

{% block style %}
<style>
    /* body */
    .container {
        padding-bottom: 180px;
    }
    
    /* text */
    h1 {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    h2 {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 3em;
    }
    
    /* forms */
    .btn {
        margin-top: 20px;
    }
</style>
{% endblock style %}

{% block profile %} active {% endblock profile %}

{% block text %}

<!-- viewing user info -->
<div class="container shadow-lg">
    <h1>Profile: {{ user|title }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>

    <p><a href="{% url 'edit_profile' %}" class="btn btn-success">Edit profile</a></p>
</div>

{% endblock text %}
