{% extends 'base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock title %}

{% block style %}
<style>
    /* body */
    .container {
        max-width: 960px;
        background-color: #f7f7f7;
        border-radius: 30px;
        border: 1px solid #dadce0;
        padding-bottom: 150px;
    }

    /* text */
    h2 {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 3em;
    }

    /* forms */
    .asteriskField {
        display: none;
    }
    .requiredField {
        font-weight: bold;
    }
    .django_form {
        padding-left: 80px;
        padding-right: 80px;
    }
</style>
{% endblock style %}

{% block login_active %} active {% endblock login_active %}

{% block text %}

{% load crispy_forms_tags %}

<div class="container shadow-lg">
    <h2>Password Reset Sent<br></h2>
    <p><br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </form>
</div>
{% endblock text %}
