{% extends 'base.html' %}
{% load static %}

{% block title %} Cart {% endblock title %}

{% block style %}
<style>
    /* body */
    .container {
        padding-bottom: 30px;
    }
    
    /* text */
    h1 {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    h2 {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 3em;
    }
    
    /* forms */
    .btn {
        margin-top: 20px;
    }
    .table > tbody > tr > .highrow {
        border-top: 3px solid;
    }

    /* btn */
    .checkout_btn, .continue_btn {
        margin-top: 0px;
    }

    .continue_btn {
        margin-right: 20px;
    }
</style>
{% endblock style %}

{% block cart_active %} active {% endblock cart_active %}

{% block banner %}

<!-- cart message -->
{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible alert-notification" role="alert">
    {{ message }}
    <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endblock banner %}

{% block text %}

<!-- order summary -->
<div class="container shadow-lg">
<!-- title -->
<h1>Order Summary:</h1>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-condensed">
            <!-- column names -->
            <thead>
                <tr>
                    <td><strong>Item Name</strong></td>
                    <td class="text-center"><strong>Item Price</strong></td>
                    <td class="text-center"><strong>Quantity</strong></td>
                    <td class="text-right"><strong>Item Total</strong></td>
                </tr>
            </thead>
            <tbody>

            <!-- items -->
            {% for order_item in object.items.all %}
                <tr>
                    <td>{{ order_item.item.title }}</td>
                    <td class="text-center">{{ order_item.item.price }}</td>
                    <td class="text-center">
                        <!-- +/- icons -->
                        <a href="{% url 'remove_single_from_cart' order_item.item.slug %}"><i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash align-baseline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
                        </svg></i></a>
                        {{ order_item.quantity }}
                        <a href="{% url 'add_single_to_cart' order_item.item.slug %}"><i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus align-baseline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        </svg></i></a>
                    </td>
                    <td class="text-right">${{ order_item.get_total_item_price }}</td>
                    <!-- trash can -->
                    <td class="text-right">
                        <a href="{% url 'remove_all_from_cart' order_item.item.slug %}" style='color:red;'><i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg></i></a>
                    </td>
                </tr>
            {% endfor %}

                <!-- totals -->
                <tr>
                    <td class="highrow"></td>
                    <td class="highrow"></td>
                    <td class="highrow text-center"><strong>Total</strong></td>
                    <td class="highrow text-right"><strong>${{ object.get_final_price }}</strong></td>
                    <td class="highrow"></td>
                </tr>
            </tbody>
        </table>

        <!-- buttons -->
        <div>
            <a href="{% url 'checkout' %}" class="btn btn-success float-right checkout_btn">Proceed to Checkout</a>
            <a href="{% url 'item_list' %}" class="btn btn-primary float-right continue_btn">Continue Shopping</a>
        </div>
    </div>
</div>
</div>

{% endblock text %}

{% block scripts %}
<script>
    // when document loads, slide alert down
    $(document).ready(function() {
        $(".alert").slideDown();
    });

    // once close is clicked, slide up the alert
    $(".close").click(function(){
        $(".alert").slideUp();
    });
</script>
{% endblock scripts %}
