{% extends 'base.html' %}
{% load static %}

{% block title %} Product {% endblock %}

{% block style %}
<style>
    /* body */
    .main {
        margin-top: 5vh;
    }

    /* title */
    h1 {
        padding-bottom: 10px;
    }

    /* carousel */
    .swiper-pagination-bullet {
        transition: .3s;
    }
    .swiper-pagination-bullet:hover {
        transition: .3s;
        background-color: rgb(137, 182, 255);
    }

    /* btns */
    .carts a {
        margin-right: 10px;
    }

    /* image */
    .product_image {
        padding: 1.5rem!important;
    }
</style>
{% endblock style %}

{% block shop_active %} active {% endblock shop_active %}

{% block banner %}

<!-- cart message -->
{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible alert-notification" role="alert">
    {{ message }}
    <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endblock banner %}

{% block text %}
<div class="container dark-grey-text mt-5">
<h1> {{ item.title }} </h1>
<div class="row wow fadeIn">

    <!-- product image -->
    <div class="col-md-6 mb-4 product_image">
    {% if item.image %}
        <img src="{{ item.image.url }}" class="img-fluid" alt="">
    {% else %}
        <img src="{% static 'login/images/idk.png' %}" class="img-fluid" alt="" style='max-height: 300px;'>
    {% endif %}
    </div>

    <div class="col-md-6 mb-4">
    <div class="p-4 item-description">

        <!-- product item badge -->
        <div class="mb-3">
            <a href="">
                <span class="badge badge-secondary">{{ item.get_category_display }}</span>
            </a>
        </div>

        <!-- product item price -->
        <p class="lead">
        <!-- discount if it applies -->
        {% if item.discounted_price %}
            <span class="mr-1">
                <del>${{ item.price }}</del>
                <span>${{ item.discounted_price }}</span>
            </span>
        {% else %}
            <span>${{ item.price }}</span>
        {% endif %}</span>
        </p>

        <!-- item descriptions -->
        <p class="lead font-weight-bold">Description</p>
        <p>{{ item.description }}</p>
        <br>

        <form class="d-flex justify-content-left carts">
            <!-- add to cart -->
            <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <!-- remove from cart -->
            <a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                Remove from cart
            </a>
        </form>
    </div>
    </div>
</div>

<hr> <!-- divider -->

<!-- more products... -->
<div class="row d-flex justify-content-center wow fadeIn">
    <div class="col-md-6 text-center">
        <h4 class="my-4 h4">More Products</h4>
        <p> TODO: list of more products </p>
    </div>
</div>
</div>
{% endblock text %}

{% block scripts %}
<script>
    // when document loads, slide alert down
    $(document).ready(function() {
        $(".alert").slideDown();
    });

    // once close is clicked, slide up the alert
    $(".close").click(function(){
        $(".alert").slideUp();
    });
</script>
{% endblock scripts %}
